<!DOCTYPE html>    
<html>    
<head>    
    <title>Toy Chat application</title>    
    <link rel="stylesheet" type="text/css" href="style.css">    
</head>    
<body>    
				
	<center><h1 style="color:green;">Registration Form</h1><br> </center>    
    <div class="login">  
					
		<form id="register" method="post" action="/register"> 		
			<input class="box" type="text" name="username" id="Uname"
			placeholder="username" required /><br><br>
									
			<input class="box" type="password" name="password"
			id="Pass" placeholder="Password " required/><br><br>

			<input type="submit" id="log"
			name="submitDetails" value="Register" /><br>
					
			</form>
					
		</div>
				

</body>
</html>	

